@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700;900&display=swap");
* {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #F2F3F6;
}

.cont {
  max-width: 1145px;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}

.header {
  background-color: #F2F3F6;
  padding-top: 50px;
  padding-bottom: 75px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.header__nav-item:not(:last-child) {
  margin-right: 20px;
}

.header__nav-link {
  text-decoration: none;
  color: #111238;
}

.header__nav-link:hover {
  color: #1A75E8;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__sign-in {
  cursor: pointer;
  padding: 15px 40px;
  background-color: transparent;
  border: none;
}

.header__sign-up {
  cursor: pointer;
  padding: 15px 30px;
  background-color: #1A75E8;
  border-radius: 5px;
  border: none;
  color: #fff;
}

.main {
  padding-bottom: 56px;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.main__inf {
  max-width: 460px;
}

.main__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 53px;
  color: #111238;
  margin-bottom: 15px;
}

.main__descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #111238;
  margin-bottom: 30px;
}

.main__form {
  background-color: #fff;
  position: relative;
  border: 1px solid rgba(209, 209, 209, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
          box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
  border-radius: 5px;
}

.main__search {
  padding: 25px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  outline: none;
}

.main__search::-webkit-input-placeholder {
  color: #b2b2b2;
}

.main__search:-ms-input-placeholder {
  color: #b2b2b2;
}

.main__search::-ms-input-placeholder {
  color: #b2b2b2;
}

.main__search::placeholder {
  color: #b2b2b2;
}

.main__btn {
  position: absolute;
  right: -5px;
  bottom: 15%;
}

.main__icon-search {
  position: absolute;
  left: 30px;
  top: 17px;
}

.main__search-btn {
  position: relative;
}

.main__example {
  margin-top: 30px;
}

.main__example-title {
  color: #B2B2B2;
  font-size: 14px;
  font-weight: 400;
  margin-right: 15px;
}

.main__example-item {
  color: #B2B2B2;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #B2B2B2;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
}

.main__example-item:not(:last-child) {
  margin-right: 10px;
}

.main-btn {
  cursor: pointer;
  padding: 15px 30px 15px 55px;
  background-color: #1A75E8;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin-right: 15px;
}

@media (max-width: 1200px) {
  .cont {
    max-width: 95%;
  }
  .main__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__img {
    margin-top: 50px;
  }
}

.categories {
  padding: 70px 0 80px 0;
  background-color: #fff;
}

.categories__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories__card {
  background-color: #F2F3F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 166px;
  height: 122px;
  border-radius: 10px;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
}

.categories__card:hover {
  background-color: #1A75E8;
  color: #fff;
}

.categories__card:hover .categories__card-icon path {
  fill: #fff;
}

.categories__card-title {
  font-weight: 400;
  margin-top: 15px;
}

.jobs {
  background-color: #fff;
  padding: 70px 0 80px 0;
}

.jobs__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */